<app-upload-card></app-upload-card>
<br />
<!-- First View -->
<h3 class="title">Report of the states by date</h3>
<div
  *ngFor="
    let item of fileService.currentFile
      | async
      | paginate : { itemsPerPage: 5, currentPage: p }
  "
>
  <div class="list-container">
    <div><strong>Date: </strong>{{ item.date | date : "mediumDate" }}</div>
    <div>
      <strong>Highest: </strong>{{ item.result.highest.name }} -
      <strong>{{ item.result.highest.value }}</strong>
    </div>
    <div>
      <strong>Lowest: </strong>{{ item.result.lowest.name }} -
      <strong>{{ item.result.lowest.value }}</strong>
    </div>
  </div>
</div>
<pagination-controls
  (pageChange)="p = $event"
  class="my-pagination"
></pagination-controls>

<br />
<!-- Second view -->
<h3 class="title">Total Report of states</h3>
<div *ngFor="let item of fileService.currentTotals | async">
  <div class="list-container">
    <div>
      Most affected is <strong>{{ item.highest.name }}</strong> with
      <strong>{{ item.highest.value }}</strong> deads to date
    </div>

    <div>
      Less affected is <strong>{{ item.lowest.name }}</strong> with
      <strong>{{ item.lowest.value }}</strong>
    </div>
  </div>
</div>

<!-- Charts -->
<ag-charts-angular style="height: 100%" [options]="options"></ag-charts-angular>
