$back-color: #fff;
$primary-color: #b82020;
$text-color: #252525;
$border-color: #d1d1d1;

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

p,
span,
a {
  font-family: "Roboto", sans-serif;
}
